# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# JetBrain IDE files
.idea/
.vscode/

# dep
vendor/
.vendor-new

# Build and Run file
go-kardia
cmd/cmd
tool/pump/pump
run.sh
cmd/abigen/abigen

# Runtime temp file
blockchain/.fuse_hidden*
cmd/*.fuse_hidden*
**/*.rlp

# Ignore produced deployment files
deployment/testnet/KAI-testnet/
deployment/testnet/keystore/
deployment/testnet/addrbook.json