Node:
  Name: KAI-NODE             # node name
  DataDir: /root/.kardia   # database data directory
  HTTPHost: 0.0.0.0       # RPC address
  HTTPPort: 8545          # RPC port
  HTTPModules:            # accepted API modules
    - node
    - kai
    - tx
    - account
    - debug
    - net
    - eth
    - txpool
    - web3
  HTTPVirtualHosts:       # virtual hosts connection
    - 0.0.0.0
    - 127.0.0.1
    - localhost
  HTTPCors:               # cors, use "*" to accept all
    - 0.0.0.0
    - 127.0.0.1
    - localhost
  WSHost: 0.0.0.0
  WSPort: 8546
  WSOrigins:
    - 0.0.0.0
    - 127.0.0.1
    - localhost
  P2P:
    PrivateKey:           # private key without 0x prefix, leave blank for joining as non-validator node
    ListenAddress: tcp://0.0.0.0:3000 # IP and Port for P2P connection
    InboundPeers: 40
    OutboundPeers: 15
  LogLevel: info          # crit, error, warn, info, debug, trace
  FastSync:
    ServiceName: BCR      # log tag of blockchain reactor logs. Type string
    Enable: true          # true if this node allow and be able to fastsync, otherwise false
    MaxPeers: 2           # maximum peer is allowed to receive fastsync blocks from this node at a time. Type int
    TargetPending: 10     # maximum number of blocks in a batch sync. Type int
    PeerTimeout: 15       # maximum response time from a peer in second. Type int
    MinRecvRate: 0        # minimum receive rate from peer, otherwise prune. Type int64
  GasOracle:
    Blocks: 10              # number of recent blocks used to suggest gas price. Type int
    Percentile: 10          # percent of gas price increasing based on highest gas of recent transactions. Type int
    Default: 1000000000     # default gas price. Type string
    MaxPrice: 500000000000  # maximum gas price this node will accept. Type string
MainChain:
  ServiceName: KARDIA     # mainchain service name
  ChainId: 24
  AcceptTxs: 1            # accept tx sync process or not (1 is yes, 0 is no)
  Seeds:
    - 6f6d3aaf5613a255b9215b654b4ee6327b7d6bb9@34.87.172.182:3000
    - 8854c90d9a5d5b9f65c9a5b83047421274c431e1@34.87.174.171:3000
    - eec19374e2f7df3bf6b734a319cfd38b1e215b34@34.126.73.34:3000
    - d7acfdf01f4e3d0d535a9c77b568f0bbf2224028@34.87.115.154:3000
    - 6e167a36c1fde26ea8867e8bb419cd02c59a8647@35.240.235.48:3000
    - 1e54a8d737ea4cbb2797b4d115f527285ebc1960@35.186.149.95:3000
    - 61ff9218d3e587e4d40b94a67fea6a1c04497597@34.143.203.90:3000
    - 09fe09a87bb88af8c93cd3b3e3affb04a4b156f4@34.126.181.26:3000
    - e8b02ebc2572a5976d33963acf753b917acb40ee@35.247.166.212:3000
    - 45162a0dce131b11f278c5351287e8a3ca04f147@34.126.150.138:3000
    - c7a6d21e95be085b6943092cca88d0002d3f9366@35.198.215.9:3000
    - 275df9c8270ed0b4535d2e20fd05cb4fb03e5b92@34.126.177.91:3000
  Database:
    Dir: chaindata                           # directory stores leveldb
    Cache: 16                                # cache is used in leveldb
    Handles: 32                              # handles is used in leveldb
    Drop: 0                                  # specify whether drop database or not (0 is no, 1 is yes)
