Node:
  Name: KAI-NODE             # node name
  DataDir: /root/.kardia   # database data directory
  HTTPHost: 0.0.0.0       # RPC address
  HTTPPort: 8545          # RPC port
  HTTPModules:            # accepted API modules
    - node
    - kai
    - tx
    - account
    - debug
    - net
    - eth
  HTTPVirtualHosts:       # virtual hosts connection
    - 0.0.0.0
    - 127.0.0.1
    - localhost
  HTTPCors:               # cors, use "*" to accept all
    - 0.0.0.0
    - 127.0.0.1
    - localhost
  WSHost: 0.0.0.0
  WSPort: 8546
  P2P:
    PrivateKey:           # private key without 0x prefix, leave blank for joining as non-validator node
    ListenAddress: tcp://0.0.0.0:3000 # IP and Port for P2P connection
    MaxPeers: 25          # maximum accepted peers
  LogLevel: info          # crit, error, warn, info, debug, trace
  Metrics: false
  FastSync:
    ServiceName: BCR      # log tag of blockchain reactor logs. Type string
    Enable: true          # true if this node allow and be able to fastsync, otherwise false
    MaxPeers: 2           # maximum peer is allowed to receive fastsync blocks from this node at a time. Type int
    TargetPending: 10     # maximum number of blocks in a batch sync. Type int
    PeerTimeout: 15       # maximum response time from a peer in second. Type int
    MinRecvRate: 0        # minimum receive rate from peer, otherwise prune. Type int64
  GasOracle:
    Blocks: 10              # number of recent blocks used to suggest gas price. Type int
    Percentile: 10          # percent of gas price increasing based on highest gas of recent transactions. Type int
    Default: 1000000000     # default gas price. Type string
    MaxPrice: 500000000000  # maximum gas price this node will accept. Type string
MainChain:
  ServiceName: KARDIA     # mainchain service name
  ChainId: 42920              # default chainid
  NetworkId: 100          # default networkid
  AcceptTxs: 1            # accept tx sync process or not (1 is yes, 0 is no)
  Seeds:
    - 428c19caa9077ee72a3d162d43a5470ff87208f9@18.140.94.60:3000
    - 0b8b917fba7cc8a9ad56548c50fe682d02a9ba68@52.221.70.9:3000
    - 29ad0123cdbf448e44999ce67ef9fc0dd6f97efc@13.228.0.174:3000
    - 79b598b9ad8f0c1ed987014fe644cc73c7b72035@18.140.169.20:3000
    - f1a1f3cc44c3ad8e1a41f843fb6aa6389fca0923@18.141.28.209:3000
    - 4cd721d24c4e2ed530cf34456841beaa1ab8b8e2@13.251.98.134:3000
    - b3289db82c8fcd317832a8ddd6a87ce6e2aa68eb@54.251.216.97:3000
    - 09c1426c2fdd2ea6650c85639272ca35160821e0@54.254.17.32:3000
    - 91bd677af97914e495a7fc1cea7c4399a2b6b519@52.76.7.193:3000
    - 73650cf6f434a1d5ea37d2a8b1b9ecfd3713ae8d@18.136.217.85:3000
    - 419b2ca33e058f22b52621bd7c4ee1c7b7ba3e74@54.251.128.223:3000
    - d7a26051908b959592560b1964065a49626cf392@52.76.71.249:3000
    - 416daadf88692d93bdc0d89ab0bb149e3ffaf8bd@52.74.22.111:3000
    - cab195fd9ac7f92c2d6757c188d6a021babf4556@18.138.185.176:3000
    - 7ab09cc447d31117c6c248a08c46332b41a25154@18.136.157.48:3000
    - faf0b7cbd8003dbef341a263cb9e1dd2a41e8acd@13.251.223.247:3000
    - fd4a31e03175e5871f84e9f8aa35ded0a691fec9@13.228.186.253:3000
    - 8e1d7fabfbc61182670db6fe40e196e0d0115b6d@13.250.168.234:3000
    - 3494b209080f42139e35e8958f2e5646fab4f7e3@13.251.195.141:3000
    - b653443811115c3be4f50186536361780b1cd6ec@46.137.215.229:3000
    - f1135bc1f710275ec1f85bc0fd88c5ca0a9a6090@54.251.108.202:3000
    - 47c229a200880d74b9a6bd430224b0c127e202d5@13.228.239.244:3000
    - abb20582e80f64235dd03b67a3e12d334dd26489@18.136.72.15:3000
    - 2e6d694bd9d30ad165881dc009ff02d9489971ae@54.255.107.221:3000
    - a9ff8a45117c973ecbb639328fdd474790128476@18.140.17.87:3000
    - 60ac5d7afb954e437aacd42566d7bcfef616cf3e@52.74.41.175:3000
    - 5611c55846cba0dac1dbec92936bd4bdc36b21eb@13.213.159.248:3000
  Database:
    Dir: chaindata                           # directory stores leveldb
    Cache: 16                                # cache is used in leveldb
    Handles: 32                              # handles is used in leveldb
    Drop: 0                                  # specify whether drop database or not (0 is no, 1 is yes)
