version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.14.12-stretch
    working_directory: /go/src/github.com/kardiachain/go-kardiamain

    environment:
      CODECOV_TOKEN: 85b61679-b8d5-409e-80c2-21b20ee5ad01

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-pkg-cache
      - run:
          name: get dependencies
          command: |
            sudo apt-get update && sudo apt-get install -y libzmq3-dev

      - run:
          name: Run unit test
          command: |
            bash .circleci/test.sh

      - run:
          name: Upload coverage
          command: bash <(curl -s https://codecov.io/bash) -f coverage.txt

      - save_cache:
          key: v1-pkg-cache
          paths:
            - "/go/pkg"

      - run:
          name: Build
          command: |
            cd cmd
            go build -v

workflows:
  version: 2
  build_release:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
      #- release:
      #    filters:
      #      branches:
      #        ignore: /.*/
      #      tags:
      #        only: /v[0-9]+(\.[0-9]+)*(-.*)*/

