version: '3.4'

networks:
  kardia:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

services:
  node1:
    container_name: node1
    build: ../..
    image: go-kardia:latest
    ports:
      - 3000:3000
      - 3000:3000/udp
      - 8545:8545
    networks:
      kardia:
        ipv4_address: 172.20.0.2
    volumes:
      - ./genesis.yaml:/go/bin/genesis.yaml
      - ./node1.yaml:/go/bin/node1.yaml
      - ./node1:/root/.kardia
    command: [ 
      "--genesis", "genesis.yaml", 
      "--network", "testnet", 
      "--node","node1.yaml"
    ]
    logging:
      driver: "json-file"
      options:
        max-size: 300m
  node2:
    container_name: node2
    image: go-kardia:latest
    ports:
      - 3001:3000
      - 3001:3000/udp
      - 8546:8545
    networks:
      kardia:
        ipv4_address: 172.20.0.3
    volumes:
      - ./genesis.yaml:/go/bin/genesis.yaml
      - ./node2.yaml:/go/bin/node2.yaml
      - ./node2:/root/.kardia
    command: [  
      "--genesis", "genesis.yaml",
      "--network", "testnet",
      "--node","node2.yaml" 
    ]
    logging:
      driver: "json-file"
      options:
        max-size: 300m
  node3:
    container_name: node3
    image: go-kardia:latest
    ports:
      - 3002:3000
      - 3002:3000/udp
      - 8547:8545
    networks:
      kardia:
        ipv4_address: 172.20.0.4
    volumes:
      - ./genesis.yaml:/go/bin/genesis.yaml
      - ./node3.yaml:/go/bin/node3.yaml
      - ./node3:/root/.kardia
    command: [
      "--genesis", "genesis.yaml",
      "--network", "testnet", 
      "--node","node3.yaml"
    ]
    logging:
      driver: "json-file"
      options:
        max-size: 300m