Node:
  Name: node1             # node name
  DataDir: /tmp/.kardia   # database data directory
  HTTPHost: 0.0.0.0       # RPC address
  HTTPPort: 8545          # RPC port
  HTTPModules:            # accepted API modules
    - node
    - kai
    - tx
    - account
    - net
    - eth
    - txpool
    - web3
  HTTPVirtualHosts:       # virtual hosts connection
    - 0.0.0.0
    - localhost
  HTTPCors:               # cors, use "*" to accept all
    - "*"
  WSHost: 0.0.0.0
  WSPort: 8546
  P2P:
    PrivateKey:          # private key without 0x prefix, leave blank for joining as non-validator node
    ListenAddress: tcp://0.0.0.0:3000
    MaxPeers: 25         # maximum accepted peers
  LogLevel: info         # crit, error, warn, info, debug, trace
  Metrics: false         # accept node to collect metric or not for benchmarking and testing purpose
  FastSync:
    ServiceName: BCR     # log tag of blockchain reactor logs. Type string
    Enable: true         # true if this node allow and be able to fastsync, otherwise false
    MaxPeers: 2          # maximum peer is allowed to receive fastsync blocks from this node at a time. Type int
    TargetPending: 20    # maximum number of blocks in a batch sync. Type int
    PeerTimeout: 15      # maximum response time from a peer in second. Type int
    MinRecvRate: 0       # minimum receive rate from peer, otherwise prune. Type int64
MainChain:
  ServiceName: KARDIA    # mainchain service name
  ChainId: 0             # default chainid
  NetworkId: 1000        # default networkid
  AcceptTxs: 1           # accept tx sync process or not (1 is yes, 0 is no)
  Seeds:
    - c1fe56e3f58d3244f606306611a5d10c8333f1f6@127.0.0.1:3000
    - 7cefc13b6e2aedeedfb7cb6c32457240746baee5@127.0.0.1:3001
    - ff3dac4f04ddbd24de5d6039f90596f0a8bb08fd@127.0.0.1:3002
  Database:
    Dir: chaindata                           # directory stores leveldb
    Cache: 16                                # cache is used in leveldb
    Handles: 32                              # handles is used in leveldb
    Drop: 1                                  # specify whether drop database or not (0 is no, 1 is yes)
GenTxs: # Devnet config to dynamize txs processing
  Type: 1
  NumTxs: 500
  Delay: 2
  Index: 1
Debug: # Devnet config for debugging purposes 
  Port: ":6000"